/* Base Style */

* {
	font-family: sans-serif;
	box-sizing: border-box;
}

h1 {
	text-align: center;
	font-size: 175%;
}

.sub_1 {
	border: 1px solid black;
	padding: 5px;
	background-color: #cc0000;
	color: white;
	position: absolute;
	font-size: 125%;
	top: 0;
	right: 0;
	margin: 0;
}

.sub_2 {
	border: 1px solid black;
	padding: 5px;
	background-color: #009900;
	color: white;
	position: absolute;
	font-size: 125%;
	top: 0;
	right: 0;
	margin: 0;
}

.sub_3 {
	border: 1px solid black;
	padding: 5px;
	background-color: navy;
	color: white;
	position: absolute;
	font-size: 125%;
	top: 0;
	right: 0;
	margin: 0;
}

.first, .second, .third {
	position: relative;
	width: 30%;
	border: 1px solid black;
	background-color: #ffff99;
	padding: 10px;
	float: left;
	margin: 10px;
	font-size: 1em;
}

/* Mobile Style */

@media (max-width: 767px) {

* {
	font-family: sans-serif;
	box-sizing: border-box;
}

h1 {
	text-align: center;
	font-size: 175%;
}

.sub_1 {
	border: 1px solid black;
	padding: 5px;
	background-color: #cc0000;
	color: white;
	position: absolute;
	font-size: 125%;
	top: 0;
	right: 0;
	margin: 0;
}

.sub_2 {
	border: 1px solid black;
	padding: 5px;
	background-color: #009900;
	color: white;
	font-size: 125%;
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
}

.sub_3 {
	border: 1px solid black;
	padding: 5px;
	background-color: #0066ff;
	color: white;
	position: absolute;
	font-size: 125%;
	top: 0;
	right: 0;
	margin: 0;
}


.first, .second, .third {
	position: relative;
	width: 100%;
	border: 1px solid black;
	background-color: #ffff99;
	padding: 10px;
	margin: 10px;
}

}

/* Tablet Style */

@media (min-width: 768px ) and (max-width: 991px) {

* {
	font-family: sans-serif;
	box-sizing: border-box;
}

h1 {
	text-align: center;
	font-size: 175%;
}

.sub_1 {
	border: 1px solid black;
	padding: 5px;
	background-color: #cc0000;
	color: white;
	position: absolute;
	top: 0;
	right: 0;
	font-size: 125%;
	margin: 0;
}

.sub_2 {
	border: 1px solid black;
	padding: 5px;
	background-color: #009900;
	color: white;
	position: absolute;
	font-size: 125%;
	top: 0;
	right: 0;
	margin: 0;
}

.sub_3 {
	border: 1px solid black;
	padding: 5px;
	background-color: #0066ff;
	color: white;
	font-size: 125%;
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
}


.first, .second {
	position: relative;
	width: 40%;
	border: 1px solid black;
	background-color: #ffff99;
	padding: 10px;
	margin: 10px;
}

.third {
	position: relative;
	width: 100%;
	border: 1px solid black;
	padding: 10px;
	margin: 10px;

}
